boto3
chromadb
google-genai
google-generativeai
lancedb
langchain
langchain-aws
langchain-google-genai
langchain-openai
numpy
openai
opentsne
pandas
plotly
python-docx
python-pptx
PyPDF2
scikit-learn
sentence_transformers
streamlit
umap-learn